<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

        <div class="collection">
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item active">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
         </div>

    <div class="container">
        <h1 class="temp">Panco's HomePage!</h1>
        <p>Coming Soon...</p>
    </div>

    <div class="pic"><img src=<%= require("./images/logo.jpeg")%> alt=""></div>

</body>

</html>